
<input placeholder="nome" [formControl]="nome"/>
<input placeholder="number" [(formControl]="matricula"/>
<input placeholder="number" [(formControl]="salario"/>
<input placeholder="text" [(formControl]="cargo"/>
<input placeholder="text" [(formControl]="especializacao"/>

<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>nome</th>
        <th>matricula</th>
        <th>salario</th>
        <th>cargo</th>
        <th>especializacao</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let j of pessoas">
          <td>{{j.id}}</td>
          <td>{{j.nome}}</td>
          <td>{{j.matricula}}</td>
          <td>{{j.salario}}</td>
          <td>{{j.cargo}}</td>
          <td>{{j.especializacao}}</td>
      </tr>
  </tbody>
</table>
